:root {
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background: linear-gradient(180deg, #238DEB 0%, #EB238F 32.57%);
}

body {
  margin: 0;
  width: 100vw;
 }

#root {
  margin: 0 auto;
  text-align: center;
}

.text-colum a:link {
  color: #97ceff;
}

/* visited link */
.text-colum a:visited {
  color: #ece766;
}

/* mouse over link */
.text-colum a:hover {
  color: hotpink;
}

/* selected link */
.text-colum a:active {
  color: blue;
}

/* ----------------- 

      SECTIONS 

  -----------------
*/

/* NAV */

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}
  .home-link {
    top: 0 auto;
    right: 0 auto;
    position: absolute;
    color: rgb(255, 255, 255);
  }
  .about-link {
    top: .5em;
    right: 1em;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
   }
   .about-link .home-link :visited {
    color: rgb(255, 255, 255);
   }
  .x-link {
    display: flex;
  }
  .logo-wraper {
    display: flex;
    max-width: 15rem;
    width: 40vw;
  }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75%;
      object-fit: contain;
    }
    .smile {
      width: 25%;
      object-fit: contain;
    }
    .happy-x {
      width: 1.3rem;
      object-fit: contain;
      margin-right:.3rem;
    }
   


/* HOME PAGE */

.backgroundWraper {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 89vh;
  width: 100vw;
}
  .background {
    height: 89vh;
    width: 100vw;
    background-repeat: repeat;
    opacity: .4;
    z-index: -1;
    position: absolute;
    
  }
    .wrap-main {
      margin: 0 auto;
    }
      .story-wrap {
        max-width: 40rem;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
      }
      .speech-wrap {
        position: relative;
        width: 100%;
      }
        .speech-bubble {
          width: 100%;
        }
        .story-text {
          position: absolute;
          left: 15%;
          top: 10%;
          transition: all 0.2s;
        }
        .happy-mouth {
          width: 20%;
          object-fit: contain;
          margin: .5rem;
        }
        .happy-mouth:hover {
          transform: scale(1.1);
        }



      .buttons-collection {
        display: flex;
        flex-direction: column;
      }
     
      .animationDiv {
        max-width: 40rem;
        width: 100vw;
        margin: 0 auto;
      }
     
       .count-sektion {
         display: flex;
         justify-content: center;
         margin-top: 2rem;
       }


/* ABOUT PAGE*/

.aboutWraper {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 100%;
  width: 100vw;
}
.about-wraper{
  display: flex;
  flex-direction: row;
}
.about-background{
  height: 100%;
  width: 100vw;
  background-repeat: repeat;
  opacity: .4;
  z-index: -1;
  position: absolute;
}
.about-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  height: 70vh;
}
  .text-colum {
    max-width: 20rem;
    width: 80vw;
  }


header {
  background: linear-gradient(180deg, #238DEB 0%, #EB238F 184.39%);
}

.Header-boarder {
  background-color: #f9f9f9;
  width: 100vw;
  height: 1vh;
}


/* TEXT */
  h1 {
    font-size: 2.2em;
    line-height: 1.1;
   
    padding: 1em;
  }
  p {
    width: 20em;
    text-align: center;
    margin: 2em auto;
    font-size: 1.3;
  }

  h3 {
    margin: 0;
  }
  

/* images */

.button-animation {
  cursor: pointer;
}

.logo-wraper :hover {
  transform: scale(1.1);
}
   .happy-animals {
    max-width: 10rem;
    width: 100%;
    object-fit: contain;
  }
 
  .smile-buttonscetion {
    width: 2.5rem;
    object-fit: contain;
    margin: .5rem;
  }


@media only screen and (min-width: 200px) {
  .story-text {
    font-size: .7em;
    top: 0%;
  }
  .logo-wraper {
    justify-content:flex-start;
  }
  .buttonsPressed {
    font-size: .9em;
  }
  .x-link,.about-link {
    font-size: 1em;
  }
  .about-wraper { 
    flex-direction: column;
  }
  p {
    width: 89vw;
    max-width: 20rem;
    text-align: left;
  }
  h1 {
    padding: 0;
    font-size: 1.5em;
  }


}

@media only screen and (min-width: 350px) {
  .story-text {
    font-size: 1em;
    top: 5%;
  }
  .about-column {
    height: 20vh;
  }
}

 @media only screen and (min-width: 650px) {
  .about-wraper{
    flex-direction: row;
    height: 89vh;
  }
  .about-column {
    height: 70vh;
    width: 30%;
  }
  .story-text {
    font-size: 1.5em;
    top: 10%;
  }
  .speech-wrap {
    width: 70%;
  }
  .buttonsPressed {
    font-size: 1.5em;
  }
  h1 {
    padding: 1rem;
    font-size: 1.5em;
  }
  .x-link,.about-link {
    font-size: 1.5em;
  }
}
