:root {
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background: linear-gradient(180deg, #238DEB 0%, #EB238F 32.57%);
/* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  margin: 0;
/* display: flex;
  place-items: center; */
  width: 100vw;
 }

#root {
  /* height: 70vh;  */
  margin: 0 auto;
  text-align: center;
}

/* SECTIONS 

/* NAV */
nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}
  .home-link {
    /* display: flex;
    justify-content: center;
    margin: 0 auto; */
    top: 0 auto;
    right: 0 auto;
    position: absolute;
    
  }
  .about-link {
    top: .5em;
    right: 1em;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
   
  }
  .x-link {
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .logo-wraper {
    display: flex;
    max-width: 15rem;
    width: 40vw;
    
  }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75%;
      object-fit: contain;
      
    }
    .smile {
      width: 25%;
      object-fit: contain;
    }
    .happy-x {
      width: 1.3rem;
      object-fit: contain;
      margin-right:.3rem;
    }
   


/* HOME */

.backgroundWraper {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 89vh;
  width: 100vw;
}
  .background {
    height: 89vh;
    width: 100vw;
    background-repeat: repeat;
    opacity: .4;
    z-index: -1;
    position: absolute;
    
  }
    .wrap-main {
      /* width: 70vw; */
      margin: 0 auto;
      /* display: flex;
      justify-content: center; */
    }
      .story-wrap {
        max-width: 40rem;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
      }

      .speech-wrap {
        position: relative;
        width: 100%;
      }
        .speech-bubble {
          width: 100%;
        }
        .story-text {
          position: absolute;
          /* width: 90%; */
          left: 15%;
          top: 10%;
          transition: all 0.2s;
        }
        .happy-mouth {
          width: 20%;
          object-fit: contain;
          margin: .5rem;
        }
        .happy-mouth:hover {
          transform: scale(1.1);
        }



      .buttons-collection {
        display: flex;
        flex-direction: column;
      }
     
      .animationDiv {
        max-width: 40rem;
        width: 100vw;
        margin: 0 auto;
      }
     
       .count-sektion {
         display: flex;
         justify-content: center;
         margin-top: 2rem;
       }


/* ABOUT */

.aboutWraper {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 100%;
  width: 100vw;

}
.about-wraper{
  display: flex;
  flex-direction: row;
  
}
.about-background{
  height: 100%;
  width: 100vw;
  background-repeat: repeat;
  opacity: .4;
  z-index: -1;
  position: absolute;
}
.about-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  height: 70vh;
}
  .text-colum {
    max-width: 20rem;
    width: 80vw;
  }


header {
  background: linear-gradient(180deg, #238DEB 0%, #EB238F 184.39%);
}

.Header-boarder {
  background-color: #f9f9f9;
  width: 100vw;
  height: 1vh;
}




/* TEXT */
  h1 {
    font-size: 2.2em;
    line-height: 1.1;
   
    padding: 1em;
  }
  p {
    width: 20em;
    text-align: center;
    margin: 2em auto;
    font-size: 1.3;
  }

  h3 {
    margin: 0;
  }
  

/* .textStyle{
  margin: 2em;
} */
/* 
.buttonsPressed{
  margin-top: 6em;
} */

button {
  border-radius: 8px;
  border: 2px solid rgb(23, 23, 20);
  width: 100px;
  height: 100px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FF8A8A;
  cursor: none;
  margin-bottom: 20em;
}

/* images */
.button-animation {
  cursor: pointer;
  color: #EB238F;
}
/* .button-animation :hover {
  transform: scale(1.001);
} */
.logo-wraper :hover  {
  color: #EB238F;
  transform: scale(1.1);
}

  .happy-animals {
    max-width: 10rem;
    width: 100%;
    object-fit: contain;
  }
 
  .smile-buttonscetion {
    width: 2.5rem;
    object-fit: contain;
    margin: .5rem;
  }


@media only screen and (min-width: 200px) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */

  button {
    background-color: #f9f9f9;
  }
  .story-text {
    font-size: .7em;
    top: 0%;
  }
  .logo-wraper {
    /* max-width: 60vw; */
    justify-content:flex-start;
  }
  .buttonsPressed {
    font-size: .9em;
  }

  .x-link,.about-link {
    font-size: 1em;
  }

  .about-wraper{
    flex-direction: column;
    
  }
  p {
    width: 89vw;
    max-width: 20rem;
    text-align: left;
  }
  h1 {
    padding: 0;
    font-size: 1.5em;
  }

}

@media only screen and (min-width: 350px) {
  .story-text {
    font-size: 1em;
    top: 5%;
  }
  .about-column {
    height: 20vh;
  }
}

 @media only screen and (min-width: 650px) {
  .about-wraper{
    flex-direction: row;
    height: 89vh;
  }
  .about-column {
    height: 70vh;
  }
  .story-text {
    font-size: 1.5em;
    top: 10%;
  }
  .speech-wrap {
    width: 70%;
  }
  .buttonsPressed {
    font-size: 1.5em;
  }
  h1 {
    padding: 1rem;
    font-size: 1.5em;
  }
  .x-link,.about-link {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 800px) {
  /* .story-wrap {
    max-width: 70vw;
  } */
}


/* @media only screen and (min-width: 1200px) {
  .logo-wraper {
    max-width: 25vw;
  }
} */
